/* .navbar {
    height: 40px;
    background-color: rgb(236, 165, 165);
}
.sidebar{
    background-color: #eee;
    width: 20%;
    display: inline-block;
}

.content{
    vertical-align: top;
    margin-left:20px;
    width: 70%;
    display: inline-block;

}




.danger{
    color: red;
}
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }  */

  .navbar {
    height: 40px;
    background-color: #023373;
    text-align: right;
}
    .sidebar {
    width: 20%;
    display: inline-block;
    background: #025373;
    height: 700px;
    text-align: center;
    }
    
    .content {
    vertical-align: top;
    margin-left: 20px;
    width: 70%;
    display: inline-block;
    }
    
    .danger {
    color: red;
    }
    .loader {
    margin: 0 auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    }
    
    @keyframes spin {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
    }

    .float-right{
        float:right;
    }