/* .nav{
    list-style-type: none;
}

.nav-item{
    margin: 0 10px;
    padding: 10px;
    color: #eee;
    float: left;
}

.nav-item:hover{
    color: gray;
}
.nav-item:active{
    font-size: 20px;

}   */

.nav-list {
    list-style-type: none;
}
    
.nav-item {
    display: inline-block !important;
    padding: 5px 10px 0 0;
}
    
.nav-item a {
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
    
.nav-item a:hover {
    color: #2e2e2e;
}
    
.nav-item a:active {
    background: transparent !important;
    color: white;
}