/* .sidebar-menu{
    list-style-type: none;
    width: 100px;
}

.sidebar-item{
    margin: 5px auto;
    text-align: center;
    padding: 10px;
    background-color: rgb(36, 192, 36);
    border-radius: 20px;
    width:90px;

} */


.sidebar-menu {
    display: inline-block;
    list-style-type: none;
    margin: 0 !important;
    padding: 10px 0 !important;

}
    
.sidebar-item a {
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    background: #6e91e6;
    width: 10vw;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}
    
.sidebar-item a:hover {
    background: #e6e6e6;
    color: #2e2e2e;
}

.sidebar-selected {
    background-color: #ffffff !important;
    color: #2e2e2e !important;
}