.feed{
    background-color: #eee;
    border-radius: 20px;
}
.feed-container{
    display: flex;
    padding: 10px;

}

.feed-data{
    /* width: 60%; */


}

.feed-image{
    border-radius: 20px;
    /* width: 30%; */
}