.container{
    width:80%;
    margin:0 auto;
}

.login{
    width: 500px;
    height: 500px;
    border: 1px solid #eee;
    background-color: #eee;
    border-radius: 15px;
}

input{
    display: block;
    height: 20px;
    width: 80%;
    background-color: #ffffff;
    border:1px sold gray;

}